.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 2rem 5rem;
}

.no-bullet {
  list-style: none;
}

.anchor-decoration-none {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  font-weight: bolder;
}

* {
  margin: 0;
}

h3 {
  padding: 1rem;
  font-size: 2rem;
}
h2 {
  text-align: center;
  padding: 1rem;
}
/* header image */

.background-img-container {
  height: 100dvh;
  width: 100dvw;
  z-index: -1;
  position: absolute;
}

.background-img-container img {
  height: 100%;
  width: 100%;
}

/* header */
header {
  color: white;
  letter-spacing: 5px;
}

#logo {
  font-size: xx-large;
  font-weight: bolder;
}

/* hero */
.hero {
  justify-content: flex-end;
  background-color: white;
  opacity: 80%;
  margin-bottom: 40%;
}

.hero p {
  font-size: 4rem;
  font-weight: bolder;
  color: black;
  letter-spacing: 5px;
}

/* main */
.main {
  color: black;
  font-family: Indie Flower;
}

.content-card {
  margin: 2rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.main-topic {
  padding: 1rem;
  justify-content: space-around;
  color: white;
  font-weight: bolder;
  line-height: 2rem;
  font-size: large;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 1000px) {
  .main-topic ul {
    flex: 2;
  }
}

.self-awareness,
.growth-mindset {
  background-color: blue;
}

.manage-emotion,
.stay-in-present {
  background-color: green;
}
.clear-goals,
.seek-support {
  background-color: yellow;
  color: black;
}
.healthy-habits,
.balance-mind-and-body {
  background-color: red;
}
.emotional-intelligence,
.just-do-it {
  background-color: purple;
}

.section-img-container {
  height: 100%;
  width: 30%;
  @media screen and (min-width: 1000px) {
    flex: 1;
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.section-img-container img {
  height: 100%;
  width: 100%;
}

/* about us */
.about-us {
  background-color: yellow;
  font-family: Indie Flower;
}

.about-us p {
  line-height: 2rem;
  padding: 1rem;
  font-size: large;
  letter-spacing: 0.2rem;
}

/* contact us */
.contact-container {
  justify-content: center;
}

.contact-container button {
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  background-color: rgb(66, 66, 246);
}
.contact-container button a {
  color: white;
}
/* footer */

footer {
  text-align: center;
  padding: 2rem;
  background-color: black;
  color: white;
}
